h1 {
	color: #ffffff;
	font-family: 'Bevan', normal;
	font-weight: normal;
	font-size: 2rem;
	line-height: 1;
	text-align: center;

}

header {
	background-color: #79756f;
}

h2 {
	color: #79756f;
	font-family: 'Bevan', normal;

}

h3 {
	color: #79756f;
	font-family: 'Bevan', normal;
}

html {
	background-color: #dbd6cf;
	color: #fff;
}


dl {
	color: #000000;
}

body {
	color: #000000;
	line-height: 1.5;
	font-family: 'Arial', normal;
	margin: 0;
}

main {
	margin: 0;
}

q {
	font-size: 1.2rem;
	font-family: 'serif', italic;
	line-height: 1.2;
}

a {
	color: #713837;
}

a:hover {
	color: red;
}

blockquote {
	color: #79756f;
	text-align: right;
	font-size: 0.7rem;
}

figcaption {
	font-size: 0.7rem;
}

dl {
	line-height: 0.5;
}

b {
	color: #79756f;
	font-weight: normal; 
}

nav {
	background-color: #79756f;
	margin: 2;
}

nav ul {
	list-style-type: none;
	padding: 0.5;
	margin: 0;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	padding: 1em 1em;
	background-color: #703838;
	text-decoration: none;
	color: white;
	border-radius: 0.5em 
}

footer {
	background-color: #79756f;
	line-height: 1.2;
}

 footer h3 {
 	color: white;
 	font-family: 'Bevan', normal;
 	font-size: 2rem;

 }

 footer ul {
 	color: #703838;
 	font-family: 'Bevan', normal;
 	font-size: 0.7rem;

 }
